.App__form {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 200px;
	gap: 10px;
}

.App__input {
	height: 30px;
	text-align: center;
}

.App__error {
	color: red;
	text-align: center;
	margin-top: 20px;
}

button:focus {
	color: red;
}
